<div class="container">
    <h1>Register</h1>
    <br>   
    <br>
    <table class="table"> 
      <tr>             
          <td>Username</td>
          <td><input id="username" style="width: 70%;"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input id="password" type="password" style="width: 70%;"></td>
        </tr>
        <tr>
            <td>User Type</td>
            <td>
                <select id="usertype" style="width: 70%;">
                    <option value="Admin">Admin</option>
                    <option value="NonAdmin">NonAdmin</option>    
                </select>
            </td>
        </tr>
        <tr>
            <td>Event Access</td>
            <td><input id="event_access" type="checkbox" style="width: 70%;"></td>
        </tr>
        <tr>
            <td>Event Detail Access</td>
            <td><input id="event_detail_access" type="checkbox" style="width: 70%;"></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="button" value="Submit"></td>
        </tr>
    </table>
</div>